.DS_Store
docker-compose.override.yml
local.env
*.tar.gz

tms-plugins/*/.deps/
tms-plugins/*/.libs/
tms-plugins/*/autom4te.cache/
tms-plugins/*/m4/
tms-plugins/*/*.m4
tms-plugins/*/config.*
tms-plugins/*/configure
tms-plugins/*/depcomp
tms-plugins/*/install-sh
tms-plugins/*/*.lo
tms-plugins/*/*.la
tms-plugins/*/libtool
tms-plugins/*/ltmain.sh
tms-plugins/*/Makefile
tms-plugins/*/Makefile.in
tms-plugins/*/missing

janus-*/janus-gateway-*/