# ssl证书位置
ssl_certificate=/etc/letsencrypt/live/yourdomain/fullchain.pem 
ssl_certificate_key=/etc/letsencrypt/live/yourdomain/privkey.pem

# janus stun-server
stun_server=stun.stunprotocol.org:3478

# debug级别
# debug_level=4